@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap'); /*font-family: 'Viaoda Libre', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Viaoda+Libre&display=swap') /* font-family: 'Amatic SC', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap'); /*font-family: 'Nothing You Could Do', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap'); /*font-family: 'Homemade Apple', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); /*font-family: 'Raleway', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); /*font-family: 'Montserrat', sans-serif;*/


body{
    margin-top: 0;
}

.wrapper{
    width: 100%;
    max-width: 99%;
    margin: 0 auto;
    margin-bottom: 8.5%;
}

/* navigation menu */
nav{
    display: flex;
    background: url(img/cac.png), rgba(44, 199, 101, 0.7)  ;
    background-blend-mode: multiply;
    background-position: center;
    padding:1% 0;
    position: fixed;
    top:0px;
    width: 99%;
    margin-top: -1%;
    margin-left: -0.5%;
    padding-top: 2%;
    z-index: 1;
}

#header-img{
    height: 6rem;
    margin-left: 7%;
}

nav ul /*Flex Container*/{
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    z-index: 5;
}

nav .nav-link a{
    padding: 0.5rem 3rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;    
}

nav .nav-link a:hover{
    color: rgb(252, 193, 32);
}

nav .social {
    justify-content: space-evenly;
}

nav .social img:hover{
    cursor: pointer;
    background-color:rgba(194, 249, 214, 0.6);
    border-radius: 50%;
}

nav .social img:active{
    box-shadow: 3px 3px 7px  2px rgba(252, 193, 32, 0.9);   
}
/* End navigation menu */

/* Title Section */
.title-wrapper #title-section{
    background-color: rgb(131, 197, 190, 0.5);
    width: 100%;
    height: 18rem;
    margin-top: 8.5em;
}

.title-wrapper h1{
    text-align: center;
    margin-top: 0.7%;
    padding-top: 3%;
    font-size: 3rem;
    font-family: 'Homemade Apple', cursive;
    letter-spacing: 0.2rem;
    font-weight: 500; 
}

.title-wrapper p{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    margin-top: -1%;
    padding: 1% 1%;   
}
/* End Title Section */

/* Product Section */
.product-wrapper{
    background-color: rgba(242, 204, 143, 1);
    height: 37rem;
}

#product-section{
    display: flex;
    justify-content: space-around;
}

#product-section img{
    width: 16rem;
    height: 16rem;
    margin-bottom: 10rem;
    margin-top: -11rem;
    border: white 1.5px solid;
}

#product-section img:hover{
    box-shadow: 10px 10px 10px 5px rgb(54, 54, 54);
    transition: 0.4s all ease;
    transform: scale(1.1);
}

.plant-names{
    display: flex;
    margin-top:-10rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    justify-content: space-around;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;;
}

.product-wrapper h2{
    font-family: 'Homemade Apple', cursive;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 0.7%;
    margin-bottom: 0;
    height: 19rem;
    padding-top: 2%; 
}

.prod-flex{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.product-wrapper img{
    width: 20%;
    height: 35%;
}

.product-wrapper a{
    text-decoration: none;
    margin: 0 0 2rem 42.8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 1%;
}

.product-wrapper a:hover{
    border: black 1px solid;
    background-color: rgba(222, 226, 255, 0.7);
    transition: 0.5s all linear;
}

.product-wrapper a:active {
    background-color: white;
    color: black;
    transition: 0.1s;
}
/* End Product Section */


/* About Section */
.about-wrapper{
    background-color: rgba(204, 213, 174, 1);
    height: 27rem;
    margin-top: 0.7%;
}

#about-section h2{
    font-family:'Homemade Apple', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    padding-top:2% ;
    margin-top: 0.8%;
}

#vid-wrapper{
    display: flex;
}

#about-section p{
    margin-left: 4%;
    padding-right: 2%;
    font-family: 'Raleway', sans-serif;
    margin-top: -1%;
    line-height: 1.4rem;
}
/* End About Section */


/* Video Section */
.about-wrapper iframe{
    width: 50rem;
    height: 17rem;
    margin-left:2%;
    margin-top:-1.5%;
}
/* End Video Section */


/* Order Section */
#order-wrapper{
    background-color: rgba(245, 202, 195, 1);
    height: 35rem;
}

#order-form{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

#order-form label{
    flex-grow: 1;
}

#tableleft{
    margin-left: 2%;
    width:42%;
    font-family: 'Raleway', sans-serif ;
}

#tableleft td{
    padding: 6%;
}

#tableright{
    margin-left: 55%;
    margin-top: -31%;
    width: 42%;
    font-family: 'Raleway', sans-serif ;
    color: black;
}

#tableright td{
    padding: 6%;
}

#placeorderbttn{
    margin-left: 45%;
    margin-top: 2%;
    padding: 1% 2.5%;
    cursor: pointer;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#placeorderbttn:hover{
    transition: 0.4s all ease;
    box-shadow: 5px 5px 15px  0.5px rgb(117, 112, 112);
}

#order-section h2{
    font-family:'Homemade Apple', cursive;
    font-size:2rem ;
    font-weight: 500;
    text-align: center;
    padding-top: 2%;
    margin-top: 0.8%;
}
/* End Order Section */

/* Newsletter Section */
.news-wrapper{
    background-color: rgba(222, 226, 255, 1);
    height: 22rem;
    margin-top: 0.7%;
}

.news-wrapper h2{
    font-family:'Homemade Apple', cursive;
    font-weight: 500;
    font-size: 2rem;
    margin: 0.5rem 0 0 0;
}

.news-wrapper form{
    display: flex;
}

.news-wrapper form{
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 2% 0;
}

.news-wrapper label{
    font-size: 1.3rem;
}

form #email{
    margin: 2%;
}

form #submit{
    margin-top: -0.6%;
    border:none;
    cursor: pointer;
    padding: 1% 1.4%;
    background-color: rgba(222, 226, 255, 1);
    padding: 1%;
    transition: 1s all ease;
}

form #submit:hover{
    /* transition: 1s all ease; */
    text-transform: uppercase;
    border: 1px black solid;
    background-color: rgba(181, 23, 158, 0.3);
    color: white;
}

form #email::placeholder{
    color: black;
}

form #email{
    background-color: rgba(222, 226, 255, 1);
    border: none;
    margin-left: 2rem;
    padding: 1%;
}

form #email:hover{
    transition: 1s all ease;
    border: black 1px solid;
    background-color:rgba(254, 250, 224, 0.7);
    /* margin-left: 2rem; */
}
/* End Newsletter Section */



/* Media Queries */

/************************* hi-res *************************/
@media screen and (min-width: 1920px) {

/* navigation menu */
nav{
    width: 99.1%;
    padding-top: 2%;
    z-index: 1;
}

/* Title Section */
.title-wrapper #title-section{
    margin-top: -1rem;    
    height: 19rem;
}

.title-wrapper h1{
    font-size: 3.5rem;
}

.title-wrapper p{
    font-size: 1.7rem;
    margin-top: -3rem;
}

/* Product Section */
.product-wrapper{
    height: 47rem;
}

.product-wrapper h2{
    font-size: 3.5rem;
    margin-top: 0.7%;
    margin-bottom: 1rem;
    height: 19rem;
}

#product-section img{
    width: 21rem;
    height: 20rem;
}

.plant-names{
    font-size: 2rem;
}

.product-wrapper a{
    font-size: 1.8rem;
    margin-left: 53rem;
}

/* About Section */
.about-wrapper{
    height: 48rem;
    margin-top: 0.7%;
}

#about-section h2{
    font-size: 3.5rem;
    padding-top:2% ;
    margin-top: 0.8%;
}

#about-section p{
    margin-top: -1%;
    line-height: 2rem;
    font-size: 1.5rem;
    width: 50%;
}

.about-wrapper iframe{
    width: 50rem;
    height: 31rem;
    margin-left:2%;
    margin-top:-1.5%;
}

/* Order Section */
#order-wrapper{
    height: 55rem;
}

#order-section h2{
    font-size:3.5rem;
}

#order-form{
    font-size: 1.7rem;
}

#tableleft input{
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
}

#tableright input{
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
}

#tableright {
    margin-top: -34.5rem;
}

#placeorderbttn{
    margin-left: 43%;
    margin-top: 2%;
    padding: 1% 2.5%;
    font-size: 1.3rem;
}

/* Newsletter Section */
.news-wrapper{
    height: 35rem;
    margin-top: 0.3%;
}

.news-wrapper h2{
    font-size: 3.5rem;
    margin: 2.5rem 0 0 0;
}

.news-wrapper label{
    font-size: 1.9rem;
}

form #email{
    font-size: 1.5rem;
}

form #submit{
    font-size: 1.4rem;
}
}

/************************* Laptop *************************/

@media screen and (max-width: 1200px){
    
nav #header-img{
    height: 5rem;
    margin-left: 5%;
    margin-right: -4%;
}

nav .nav-link a{
    padding: 0.5rem 2rem;
}

.social li{
    margin-right: 40%;
}

.social #ig {
    margin-left: -50%;
}
/* End navigation menu */


/* Title Section */
.title-wrapper #title-section{
    width: 100%;
    height: 18rem;
    margin-top: 7.3rem;
}

.title-wrapper h1{
    margin-top: 0.7%;
    padding-top: 3%;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2rem;
}
 /* End Title Section */

/* Product Section */
.product-wrapper{
    height: 37.5rem;
}

.product-wrapper a{
    margin: 0 0 2rem 32rem;
    font-size: 1.3rem;
}
/*End Product Section */

/* About Section */
.about-wrapper{
    height: 29rem;
    margin-top: 0.7%;
}
/* End About Section */

/* Video Section */
.about-wrapper iframe{
    width: 50rem;
    height: 20rem;
    margin-left: 2%;
    margin-top: -3%;
}
/* End Video Section */

/* Order Section */
#tableright{
    margin-top: -32%;
}

#tableright td{
    padding: 10%;
}

#placeorderbttn{
    margin-left: 42%;
    margin-top: 4%;
}
/* End Order Section */

/* Newsletter Section */
.news-wrapper h2{
    margin: 2rem 0 0 0;
}
/* End Newsletter Section */
}
/* End Laptop */


/************************** Tablets *************************/


@media screen and (max-width:760px){

/* navigation menu */
nav{
    width: 98%;
    margin-top: -1%;
    margin-left: -0.5%;
    padding-top: 2%;
    padding-bottom: 2rem;
    height: 6rem;
}

nav #header-img{
    border-radius: 50%;
    height: 4rem;
    margin-left: 1%;
    margin-top: 2.3%;
}

nav .nav-link a{
    padding: 0.5rem 1.7rem;
}

nav .social {
    flex-direction: row;
    height: 1rem;
    margin-top: 5.5rem;
    margin-left: -3rem;
    text-align: center;
    justify-content: space-around;
    width: 10rem;
}

.social #ig{
    margin-right: 40rem;
}

.social #fb{
    margin-right: 3rem; 
}

nav .social img:active{
    box-shadow: 3px 3px 7px  2px rgba(252, 193, 32, 0.9);  
}
/* End navigation menu */

/* Title Section */
.title-wrapper #title-section{
    margin-top: 8.9rem;
    height: 15rem;
}

#title-section h1 {
    margin-bottom: -0.5rem;
}
/* End Title Section */

/* Product Section */
.product-wrapper{
    height: 82rem;
}

.product-wrapper h2{
    font-size: 2rem;
    padding-top: 5%;
}

#product-section{
    flex-direction: column;
    align-items: center;
}

#product-section img{
    width: 16rem;
    height: 16rem;
    margin-bottom: 17rem;
}

#product-section img:hover{
    transform: scale(1);
    transform: translateY(-4%);
}

.plant-names{
    margin-top:-62rem;
    padding-top: 0rem;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
}

.plant-names #marjoram {
    margin-bottom: 20rem;
    margin-left: 1rem;
}

.plant-names #alyssum {
    margin-bottom: 19rem;
}

.plant-names #gladiola {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.prod-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-wrapper img{
    width: 20%;
    height: 35%;
}

.product-wrapper a{
    margin-left: 19rem;
}
/* End Product Section */

/* About Section */
.about-wrapper{
    height: 47rem;
    margin-top: 0.7%;
}

#vid-wrapper{
    display: flex;
    flex-direction: column;
}
/* End About Section */

/* Video Section */
.about-wrapper iframe{
    width: 30rem;
    height: 17rem;
    margin-left:18%;
    margin-top:-1.5%;
    margin-bottom: 2.5rem;
}
/* End Video Section */

/* Order Section */
#order-wrapper{
    height: 35rem;
}

#order-section h2{
    padding-top: 3rem;
}

#order-form label{
    flex-grow: 1;
}

#tableleft{
    margin-left: -7%;
}

#tableleft td{
    padding: 6%;
}

#tableright{
    margin-left: 55%;
    margin-top: -46%;
}

#tableright td{
    padding: 12%;
}

#placeorderbttn{
    margin-top: 3rem;
}
/* End Order Section */

/* Newsletter Section */
.news-wrapper{
    height: 18rem;
    margin-top: 0.7%;
}

.news-wrapper form{
    display: flex;
}

.news-wrapper label{
    font-size: 1.3rem;
}

.news-wrapper h2{
    margin-top:1.5rem;
}

form #email{
    margin: 2%;
}

form #email{
    margin-left: 1.5rem;
}
/* End Newsletter Section */
}
/* End Tablets */


/**************************** Mobile L ************************************/


@media screen and (max-width:480px){

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* navigation menu */
nav{
    background-position: center;
    padding:1% 0;
    flex-direction: column;
    top:0px;
    width: 100%;
    margin-left: -0.5%;
    padding-top: 2rem;
    height: 22rem;
}

nav #header-img{
    border-radius: 50%;
    height: 4rem;
    margin-left: 14.5%;
    width: 4rem;
    margin-bottom: 10%;
    cursor: pointer;
}

nav #header-img:hover {
    filter: drop-shadow(5px 5px 5px black);
}

nav #header-img:active {
    filter: none;
}

nav ul /*Flex Container*/{
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    z-index: 5;
    margin-top: -3rem;
    margin-right: 2rem;
}

.nav-link.open, .social.open {
    display: none;
}
#nav-bar {
    transition: all 0.4s ease-out;
}
#nav-bar.open {
    height: 5rem;
}

.nav-link li{
    padding-top: 4.5%;
}

nav .nav-link a:hover{
    color: rgb(252, 193, 32);
}

nav .social {
    margin-top: 0rem;
    flex-direction: row;
    margin-left: 34rem;
}

nav .social img:active{
    box-shadow: 3px 3px 7px  2px rgba(252, 193, 32, 0.9);
}

#header-img {
    height: 5rem !important;
    width: 6rem !important;
    margin-top: -1rem !important;
    margin-left: 12.4rem !important;
    
}
/* End navigation menu */

/* Title Section */
.title-wrapper #title-section{
    width: 34rem;
    height: 32rem;
    margin-top: 7.5rem;
}

.title-wrapper h1{
    margin-left: 1.4rem;
    width: 80%;
    padding-top: 2rem;
    font-size: 3rem;
}

.title-wrapper p{
    font-size: 1.3rem;
    margin-left: 1rem;
    width: 80%;
    line-height: 220%;
}
/* End Title Section */

/* Product Section */
.product-wrapper{
    height: 82rem;
    width: 34rem;
}

#product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-wrapper h2{
    margin-left: -4.5rem;
    padding-top: 2rem;
}

#product-section img{
    margin-left: -4.5rem;
}

.plant-names{
    margin-top:-74rem;
    padding-top: 0rem;
    font-size: 1.3rem;
}

.plant-names #marjoram {
    margin-top:14rem;
    margin-right: 4.5rem;
}

.plant-names #alyssum {
    margin-top: 0.5rem;
    margin-right: 3.5rem;
}

.plant-names #gladiola {
    margin-top: 1.5rem;
    margin-right: 4.5rem;
}

.product-wrapper img{
    width: 20%;
    height: 35%;
}

.product-wrapper a{
    font-size: 1.3rem;
    margin-left: 10.5rem;
    padding: 1%;
}

.product-wrapper a:hover{
    transition: 0.5s all ease;
    margin-left: 10.5rem;
}
/* End Product Section */

/* About Section */
.about-wrapper{
    height: 61rem;
    width: 34rem;
}

#about-section h2{
    padding-top: 2rem;
    margin-right: 5.5rem;
}

#about-section p{
    margin-left: 3rem;
    width: 70%;
    margin-top: -0.5rem;
    text-align: justify;
}
/* End About Section */

/* Video Section */
.about-wrapper iframe{
    width: 27rem;
    height: 17rem;
    margin-left: 1.4rem;
    margin-top:-1.5%;
    margin-bottom: 2.5rem;
}
/* End Video Section */

/* Order Section */
#order-wrapper{
    height: 48rem;
    width: 34rem;
    height: 53rem;
}

#order-section h2{
    padding-top: 7%;
    margin-top: 0.8%;
    margin-right: 6rem;
}

#order-form{
    display: flex;
    flex-wrap: wrap;
    margin-left: -3.5rem;
    width: 100%;
}

#order-form label{
    flex-grow: 1;
}

#tableleft{
    margin-left: 6%;
    width:100%;
}

#tableleft td{
    padding: 6%;
}

#tableright{
    margin-left: 6%;
    margin-top: 1%;
    width: 100%;
}

#tableright td{
    padding: 6%;
}

#placeorderbttn{
    margin-left: 35%;
    margin-top: 7%;
    padding: 1% 2.5%;
}

#placeorderbttn:hover{
    transition: 0.7s all ease;
    box-shadow: 5px 5px 15px  0.5px rgb(117, 112, 112);
}
/* End Order Section */

/* Newsletter Section */
.news-wrapper{
    height: 23rem;
    width: 34rem;
    margin-top: 0.7%;
}

.news-wrapper h2{
    font-size: 2rem;
    margin-top:2rem;
    margin-left: 0.7rem;
}

.news-wrapper label{
    margin-left: -3.9rem;
    width: 80%;
}

form #email{
    margin-right: 4rem;
}

form #submit{
  margin-right: 3rem;
}
/* End Newsletter Section */
}
/* End Mobile L */


/************************* Mobile M *************************/


@media screen and (max-width:400px){

/* navigation menu */
nav{
    display: flex;
    background: url(img/cac.png), rgba(44, 199, 101, 0.7)  ;
    background-blend-mode: multiply;
    background-position: center;
    padding:1% 0;
    position: fixed;
    flex-direction: column;
    top:0px;
    width: 98.7%;
    margin-top: -1%;
    margin-left: -0.5%;
    padding-top: 2%;
    height: 11rem;
}

nav #header-img{
    border-radius: 50%;
    height: 3.5rem;
    margin-left: 13%;
    width: 3.5rem;
    margin-bottom: 10%;
}

nav ul /*Flex Container*/{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    z-index: 5;
    margin-top: -26%;
}

nav .nav-link a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav-link li{
    padding-top: 6%;
    margin-top: -2%; 
}

nav .nav-link a:hover{
    color: rgb(252, 193, 32);
}

nav .social {
    padding-top:3%;
    margin-left: -5%;
}

.social #fb{
    margin-left: -260%;
}

nav .social #ig{
    margin-left: -260%;
}

nav .social img:hover{
    cursor: pointer;
    background-color:rgba(194, 249, 214, 0.6);
    border-radius: 50%;
}

nav .social img:active{
    box-shadow: 3px 3px 7px  2px rgba(252, 193, 32, 0.9);
}
/* End navigation menu */

.title-wrapper #title-section{
    width: 30rem;
    height: 29rem;
}

.title-wrapper h1{
    margin-top: -0.9rem;
    margin-right: 4rem;
    margin-left: 1rem;
    font-size: 3rem;
}

.title-wrapper p{
    font-size: 1.3rem;
    margin-top: -7%;
    width: 75%;
}
/* End Title Section */


/* Product Section */
.product-wrapper{
    height: 100rem;
    width: 30rem;
}

#product-section img{
    width: 18rem;
    height: 18rem;
    margin-bottom: 17rem;
}

.plant-names{
    margin-top:-73rem;
}

.plant-names #marjoram {
   margin-top: 9rem;
}

.plant-names #alyssum {
    margin-top: 2.5rem;
}

.plant-names #gladiola {
    margin-top: 3.5rem;
}

.product-wrapper { 
    height: 87rem;
}

.product-wrapper a{
    margin-left: 8.5rem;
}

.product-wrapper a:hover{
    margin-left: 8.5rem;
}
/* End Product Section */

/* About Section */
.about-wrapper{
    height: 65rem;
    width: 30rem;
    margin-top: 0.7%;
}

#about-section p{
    margin-left: 2rem;
    margin-top: -1%;
}

#about-section h2{
    font-size: 2rem;
    padding-top:6% ;
    margin-top: 0.8%;
}
/* End About Section */

/* Video Section */
.about-wrapper iframe{
    width: 23rem;
    margin-left:1rem;
    margin-top:-1rem;
}
/* End Video Section */

/* Order Section */
#order-wrapper{
    height: 48rem;
    width: 30rem;
}

#order-form{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4.6rem;
}

#order-form label{
    flex-grow: 1;
}

#tableleft{
    margin-left: 6%;
    width:100%;
}

#tableleft td{
    padding: 6%;
}

#tableright{
    margin-left: 6%;
    margin-top: 1%;
    width: 100%;
}

#tableright td{
    padding: 6%;
}

#placeorderbttn{
    margin-left: 35%;
    margin-top: 7%;
    padding: 1% 2.5%;
}

#order-section h2{
    font-size:2rem ;
    padding-top: 7%;
    margin-top: 0.8%;
    margin-left: -1rem;
}
/* End Order Section */

/* Newsletter Section */
.news-wrapper{
    height: 30rem;
    width: 30rem;
    margin-top: 0.7%;
}

.news-wrapper h2{
    font-size: 2rem;
    margin-top:2rem;
    margin-left: -0.5rem;
}

.news-wrapper label{
    width: 70%;
    margin-left: -5rem;
    margin-bottom: 1rem;
}

form #email{
    margin-left: 0rem;
}

form #submit{
    margin-left: -1.2rem;
}
/* End Newsletter Section */
    
}
/* End Mobile M */


/* Mobile S */
@media screen and (max-width:360px){
    
/* navigation menu */
nav{
    display: flex;
    background: url(img/cac.png), rgba(44, 199, 101, 0.7)  ;
    background-blend-mode: multiply;
    background-position: center;
    padding:1% 0;
    position: fixed;
    flex-direction: column;
    top:0px;
    width: 98.7%;
    margin-top: -1%;
    margin-left: -0.5%;
    padding-top: 2%;
    height: 11rem;
}

nav #header-img{
    border-radius: 50%;
    height: 3.5rem;
    margin-left: 13.5%;
    width: 3.5rem;
    margin-bottom: 10%;
}

nav ul /*Flex Container*/{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    z-index: 5;
    margin-top: -26%;
}

nav .nav-link a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav-link li{
    padding-top: 6%;
}

nav .nav-link a:hover{
    color: rgb(252, 193, 32);
}

nav .social {
    padding-top:6%;
}

.social #fb{
    margin-left: -260%;
}

nav .social #ig{
    margin-left: -260%;
}

nav .social img:hover{
    cursor: pointer;
    background-color:rgba(194, 249, 214, 0.6);
    border-radius: 50%;
}

nav .social img:active{
    box-shadow: 3px 3px 7px  2px rgba(252, 193, 32, 0.9);
}
/* End navigation menu */

.title-wrapper #title-section{
    width: 26rem;
    height: 32rem;
}

.title-wrapper h1{
    margin-top: -1rem;
    padding-top: 2rem;
    font-size: 2.7rem;
}

.title-wrapper p{
    margin-top: -2rem;
}
/* End Title Section */
.product-wrapper h2{
    font-size: 2.7rem;
    margin-left: -6rem;
    margin-bottom: 1rem;
}

#product-section img{
    margin-bottom: 17rem;
    margin-right: 2.9rem;
}

.plant-names #marjoram {
    margin-bottom: 23rem;
    margin-right: 7.5rem;
}

.plant-names #alyssum {
    margin-top: -0.5rem;
    margin-right: 7rem;
}

.plant-names #gladiola {
    margin-right: 7.5rem;
}

.product-wrapper img{
    width: 20%;
    height: 35%;
}

.product-wrapper a{
    font-size: 1.3rem;
    margin-left: 7rem;
}

.product-wrapper a:hover{
    margin-left: 7rem;
}
/* End Product Section */

/* About Section */
.about-wrapper{
    height: 70rem;
    width: 29.4rem;
    margin-top: 0.7%;
}

#about-section p{
    margin-left: 1.6rem;
    margin-top: -1%;
    width: 65%;
}

#about-section h2{
    font-size: 2.7rem;
    padding-top: 6%;
    margin-left: -1.5rem;
}
/* End About Section */

/* Video Section */
.about-wrapper iframe{
    width: 21rem;
    height: 17rem;
    margin-left: 0.8rem;
    margin-top:-1.5%;
    margin-bottom: 2.5rem;
}
/* End Video Section */

/* Order Section */
#order-wrapper{
    height: 44rem;
    width:29.4rem ;
}

#order-section h2{
    font-size:2.7rem ;
    margin-bottom: -1%;
}

#order-form{
    width: 85%;
    margin-left: -4.2rem;
}

#placeorderbttn{
    margin-left: 35%;
}
/* End Order Section */

/* Newsletter Section */
.news-wrapper{
    height: 30rem;
    width: 29.4rem;
    margin-top: 0.7%;
}

.news-wrapper h2{
    font-size: 2rem;
    margin-left: 1rem;
    margin-top:2rem;
}

.news-wrapper label{
    width: 70%;
    margin-left: -7rem;
}

form #email{
    margin-left: -3rem;
}

form #submit{
    transition: 1s all ease;
    margin-left: -4.5rem;
}
/* End Newsletter Section */
}
/* End Mobile S */

/* End Media Queries */